.floated{
	
	text-align: left;
	margin-bottom: 5%;
	

}

.pop{
	margin:0 auto;
	width: 75.4%;
	float:right;
}
body{
	background-color:#006696;
	font-family: Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}
h1{text-align: center;}
.float-left{
	float:left;
margin-top: 2%;
}
.container{
	float:center;
	max-width: 500px;
	margin:0 auto;

}
.right{
	margin-left: 11.5%;
}
textarea {
  background-color: pink;
  height: 37px;
  resize: none; 
}
